// Brand colors
$brand-gray-background: #F1F2F4;
$brand-white: #ffffff;
$brand-black: #151C22;
$brand-grey: #727A82;

// Brand fonts
$brand-common-font: 'Work Sans', sans-serif;
$brand-accident-font:  'Anton', sans-serif;

// Component variables
$offer-background: $brand-gray-background;
$offer-title-color: $brand-black;
$offer-button-background: $brand-black;
$header-menu-link-color: $brand-black;
$footer-background: $brand-black;
$news-data-title: #000;
$news-data-text: #727A82;
$gallery-scale: #E5E5E5;
$overalls-button: #B0C3C7;
$overalls-button-active: #3B6392;
$overalls-button-visited:#BFC3C8;
